body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
    background-attachment:fixed;
    border: 0px;
}


.ui-page {
    background-color: #373737 !important; /*Any color based on the data-theme selected*/
    background: transparent url(../img/bg.png);
}